/* Ajustes para a imagem de fundo */
.hero-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .hero-img-large,
  .hero-img-small {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área da tela sem distorção */
  }
  
  /* Para telas maiores que 768px (telas médias e grandes) */
  .hero-img-wrapper.d-md-block {
    display: block;
  }
  
  .hero-img-wrapper.d-md-none {
    display: none;
  }
  
  /* Para telas menores que 768px (telas pequenas) */
  @media (max-width: 767px) {
    .hero-img-wrapper.d-md-none {
      display: block; /* Exibe a imagem pequena */
    }
  
    .hero-img-wrapper.d-md-block {
      display: none; /* Esconde a imagem grande */
    }
  }
  